{% extends 'jobs/base.html' %}
{% block content%}
{% load staticfiles %}

<div id="banana">


<a class="nav-link" id="toplink" href="{% static 'resume.pdf' %}" target="_blank"><img id="borderimg" align="right" src="https://img.icons8.com/fluent/48/000000/open-resume.png" /> </a>
<br>
<br>
<h4 class="text-center">Little Bit About Me </h4>
<hr>
<br>
<h5>
  <p class="text-justify"> I Am A Python Programmer/backend Web Developer With Good Knowledge Of Python Programing Language And The Django Framework. I Love Structure And Order And I Also Stand For Quality. I Love Spending Time On Fixing Little
    Details And Optimizing Web Apps. Also, I Like Working In A Team, You'll Learn Faster And Much More. As The Saying Goes: 'two Heads Are Better Than One'. </p>
</h5>
<br>
<h5>
  <p class="text-justify"> I Practiced And Created Some Projects By Utilizing Python, Django, And Also Handled The Development And Management Of Front End User Interfaces With Help Of HTML, CSS, And Bootstrap. I Have Listed Some Of The Projects In My
    GitHub As Well As Resolved Ongoing Problems And Accurately Documented The Progress Of Those Projects. All The Codes Of All Projects Are Uploaded To GitHub At <a href="https://github.com/unity1s"  id="detaillink" target="_blank">"https://github.com/unity1s </a>.</p>
</h5>
<br>
<hr>
<h4 class="text-center">EDUCATION </h4>
<hr>
<br>

<div class="row">
  <div class="column">
    <h5>Bachelor of Engineering (B.E.) | Graduated, May 2016 </h5>
    <h5> Stream : Computer Engineering | CGPI 7.75/10</h5>
    <h5>Atharva College of Engineering </h5>
    <h5> University of Mumbai</h5>
    <h5>Mumbai, Maharashtra </h5>
    <br>
  </div>
  <div class="column">
    <h5> Higher Secondary Certificate (HSC) | Graduated, May 2012 </h5>
    <h5> Stream : Computer Science| Percentage 79.67% </h5>
    <h5> Viva College Of Science, Arts, And Commerce </h5>
    <h5> Maharashtra HSC Board</h5>
    <h5> Mumbai, Maharashtra </h5>
    <br>
  </div>
</div>

<br>
<h5> Secondary School Certificate (SSC) | Graduated, May 2010 </h5>
<h5> Stream : Computer Engineering | Percentage 89.64% </h5>
<h5> Lokmanya English High School </h5>
<h5> Maharashtra SSC Board </h5>
<h5> Mumbai, Maharashtra </h5>
<br>
<hr>
<h4 class="text-center">WORK EXPERIENCE </h4>
<hr>
<br>
<h5> Tata Consultancy Services Ltd. | December 2016 – September 2018</h5>
<h5> Assistant Database Administrator
<h5> Malad, Maharashtra </h5>
<h5> Maharashtra SSC Board </h5>
<h5> Mumbai, Maharashtra </h5>
<br>
<h5><p class="text-justify"> I Have 1 Year 9 Months of Experience As Database Administrator With Exposure In Installation, Configuration, And
Administration Of Oracle And Postgres Databases.
I Was Associated As Database Administrator With Tata Consultancy Services Rendering Support To The
Internal Project “Ultimatix”.</p>
</h5>
<h5><p class="text-justify">
“Ultimatix” Is A Digital Portal For Tcs Resources And Business Planning. Ultimatix
Has 160+ Applications That Use Mainly Oracle And Postgres Databases To Cater To The Needs Of Tcs ‘s OLTP
Systems.
I Worked In A 24*7 Support Team With Extended Shifts, Weekend Shifts, And Night Shifts.
I Have Strong Exposure To Production Environment In Resolving Critical Performance Issues During The Peak
Business Hours.
</p>
</h5>


   <hr>
   <h4 class="text-center">TECHNICAL SKILLS </h4>
   <hr>
 <div class="row">
   <div class="column">
     <div class="row">
       <div class="column">
         <h5>   Django </h5>
         <h5>   Python </h5>
         <h5>   HTML </h5>
         <h5>  CSS  </h5>
       </div>
       <div class="column">
         <h5>Bootstrap</h5>
         <h5> MVT Pattern </h5>
         <h5>Git </h5>
         <h5>SQL </h5>
       </div>

     </div>

   </div>
   <div class="column">
     <div class="row">
       <div class="column">

         <h5>   Unix </h5>
         <h5>  Linux </h5>
          <h5>  Data Structures </h5>
         <h5>  Object Orientated Programming  </h5>
       </div>
       <div class="column">
         <h5>  Oracle </h5>
         <h5>  Postgres  </h5>
         <h5>  Atom</h5>
          <h5>  Command line Inteface</h5>
       </div>

     </div>

   </div>

 </div>
 <br>
 <hr>
 <h4 class="text-center">CERTIFICATIONS</h4>
 <hr>
 <br>
  <h5><p class="text-justify"> Oracle Certified Professional, Java Se 6 Programmer.</p></h5>
    <br>
    <hr>

    <h4 class="text-center">PERSONAL PROJECTS</h4>
    <hr>
    <br>
     <h5><p class="text-justify">LetsTODO :A Todo Web Applications Deployed On Heorku At This Page-<a href="https://letstodoproject.herokuapp.com/" id="detaillink" target="_blank">Click To Visit The WebApp-Page </a> </p></h5>

     <h5><p class="text-justify">Password Generator & Word Counter: A Password Generator & Word Counter Web Applications Deployed On Heorku At This Page-<a href="https://passgenwordcount.herokuapp.com/" id="detaillink" target="_blank">Click To Visit The WebApp-Page </a></p> </h5>

     <h5><p class="text-justify">SocialME :A Microblogging  Web Applications Deployed On Pythonanywhere At This Page-<a href="http://satish17.pythonanywhere.com/" id="detaillink" target="_blank">Click To Visit The WebApp-Page </a> </p></h5>


       <br>
       <hr>


    <h4 class="text-center">PERSONAL DETAILS  & CONTACT</h4>
    <hr>
    <br>
<div class="row">
  <div class="column">
    <h5>Name:satish Ramdhani Sharma </h5>
    <h5> Age:25 Years</h5>
    <h5>Gender: Male </h5>
    <h5> Birthday: April 17, 1995</h5>
      <h5> Address: Mumbai, Maharashtra </h5>

    <br>
  </div>
  <div class="column">
    <h5> Email : Satishsharma.cse@gmail.com</h5>
    <h5> Phone : 8097810271 / 8329111083 </h5>
    <h5> Linkedin :  <a href="https://linkedin.com/in/satish-sharma-26a315110" id="detaillink" target="_blank">Click To Visit My Page </a> </h5>

    <h5>Marital Status: Unmarried </h5>
  <h5>Nationality: Indian</h5>


    <br>
  </div>
</div>


<br>
<hr>
<h6 class="text-center">I Built This Portfolio Project With Python, Django Framework, Html, Css, And Bootstrap. All Codes Are Uploaded To Github.</h6>
<hr>
<br>
</div>
{% endblock %}
