{% extends 'jobs/base.html' %}
{% block content%}

<div class="" id="banana">
  <div class="container">
    <header class="blog-header">
      <div class="row  justify-content-between ">

        <a class="nav-link justify-content-start" id="detaillink" href="{% url 'home' %}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
          </svg> all projects </a>

        {% if job.url %}
        <a class=" nav-link ml-auto" id="detaillink" href="{{ job.url }}" target="_blank"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z" />
          </svg>{{ job.url }}</a>
        {% endif %}

      </div>
    </header>
    <br>
    <h1 class=" text-center font-italic" id="apple">{{job.title}}</h1>
    <hr>

    <div class="text-center">
      <img class="img-fluid" src="{{job.image.url}}" alt="">
    </div>

    <br>

    <div class="container text-center">
    <h5>  <p class="text-justify">{{job.body|safe}}</p></h5>
    </div>

<br>
    <hr>

    {% if job.sampleimage1 %} <h1 class=" text-center font-italic">screenshots</h1>
    <hr>
    <br>{% endif %}

    <div class="row" >

      <div class="column">
        {% if job.sampleimage1 %}
        <img class="card-img-top img-fluid " src="{{ job.sampleimage1.url }}" alt="">
        <br>
        <br>
        <div class="container text-center">
        <p class="text-justify">{{job.body1|safe}}</p>
        </div>
        {% endif %}
      </div>


      <div class="column">

        {% if job.sampleimage2 %}
      <img class="card-img-top img-fluid" src="{{ job.sampleimage2.url }}" alt=""><br>
        <br>

        <div class="container text-center">
          <p class="text-justify">{{job.body2|safe}}</p>
        </div>
        {% endif %}
      </div>

      <div class="column">
        {% if job.sampleimage3 %}
      <hr><img class="card-img-top img-fluid" src="{{ job.sampleimage3.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body3|safe}}</p>
        </div>
        {% endif %}
      </div>

      <div class="column">
        {% if job.sampleimage4 %}
    <hr><img class="card-img-top img-fluid img-fluid" src="{{ job.sampleimage4.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body4|safe}}</p>
        </div>
        {% endif %}
      </div>

      <div class="column">
        {% if job.sampleimage5 %}
    <hr>  <img class="card-img-top img-fluid" src="{{ job.sampleimage5.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body5|safe}}</p>
        </div>
        {% endif %}
      </div>

     <div class="column">
        {% if job.sampleimage6 %}
        <hr> <img class="card-img-top" src="{{ job.sampleimage6.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body6|safe}}</p>
        </div>
        {% endif %}
      </div>

      <div class="column">
        {% if job.sampleimage7 %}
      <hr>  <img class="card-img-top" src="{{ job.sampleimage7.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body7|safe}}</p>
        </div>
        {% endif %}
      </div>

      <div class="column">
        {% if job.sampleimage8 %}
      <hr> <img class="card-img-top" src="{{ job.sampleimage8.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body8|safe}}</p>
        </div>
        {% endif %}
      </div>

      <div class="column">
        {% if job.sampleimage9 %}
      <hr>  <img class="card-img-top" src="{{ job.sampleimage9.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body9|safe}}</p>
        </div>
        {% endif %}
      </div>

      <div class="column">
        {% if job.sampleimage10 %}
      <hr>  <img class="card-img-top" src="{{ job.sampleimage10.url }}" alt=""><br><br>
        <div class="container text-center">
          <p class="text-justify">{{job.body10|safe}}</p>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="row  justify-content-between ">
      <a class="nav-link justify-content-start" id="detaillink" href="{% url 'home' %}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
        </svg> all projects </a>

      {% if job.url %}
      <a class=" nav-link ml-auto" id="detaillink" href="{{ job.url }}" target="_blank"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z" />
        </svg>{{ job.url }}</a>
      {% endif %}


    </div>
  </div>
  <hr>
  <h6 class="text-center">I Built This Project With Python, Django Framework, Html, Css, And Bootstrap. All Codes Are Uploaded To Github.</h6>
  <hr>

</div>
{% endblock %}
