{% extends 'jobs/base.html' %}
{% block content%}
<br>
<br>
<section class=" text-center">
  <div class="container">
    <br>
    <h1 id="apple">Hi, I’m Satish! </h1><br>

    <h3  id="introtag"  class="">i like making web applications and meeting new people.Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.</h3>
    <br>
    <h5> <a class=" " id="introtaboutme" href="{% url 'aboutme' %}" target="_blank">Little Bit More About Me</a></h5>

<br>


    <button class="button" id="butcolo" style="vertical-align:middle"><span><a href="mailto:satishsharma.cse@gmail.com" class=" " id="butcolo">EMAIL ME!</a> </span></button>



  </div>
</section>
<!-- class="album  bg-light" -->
<br>
<hr>
<div >
  <div class="container">

    <div class="container  text-center ">
      <h1 class=" text-center font-italic" id="apple">projects</h1>
      <hr>
      <br>
    </div>

    <div class="row" id="banana" >

      {%for job in jobs.all %}

      <div class="col-md-4 " >
        <div class="card mb-4 shadow-sm" id="cardcolors"  >
          <br>
          <a class="card-text text-center"  id="detaillink" href="{% url 'detail' job.id  %}"><h5 id="apple">{{job.title}}</h5></a>
          <hr>
          <span class="border border-primary">
            <a class="card-text text-center" href="{% url 'detail' job.id  %}"><img class="card-img-top" src="{{ job.image.url }}" alt=""></a>
          </span>
          <div class="card-body">
            <a href="{{ job.url }}" target="_blank" class="text-center" ><p class="card-text text-center">{{ job.url }}</p></a>
            <hr>
          <h5>  <p class="card-text text-center">{{ job.summary }}</p></h5>

          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</div>
<br>
{% endblock %}
